@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --indodyssey-textPrimary: #353535;
  --indodyssey-textSecondary: #7d7d7d;
  --indodyssey-brown: #6c584c;
}

html,
body,
:root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primaryText);
}

a {
  color: inherit;
  text-decoration: none;
}
